*.log*
target/
.project
.settings
.classpath
.factorypath
.project/*
.settings/*
bin/
src/main/resources/static/metadatatool/projects/*
src/main/resources/static/metadatatool/exports/*
src/main/resources/static/metadatatool/maps/*
/target/

/.apt_generated/
