h2/
bin/
logs/
target/

.project
.settings
.classpath
.factorypath

.project/
.settings/
.apt_generated/

src/main/resources/static/metadatatool/maps/*
src/main/resources/static/metadatatool/exports/*
src/main/resources/static/metadatatool/projects/*
